<h1>「生まれて初めて」を記録しよう</h1>

<p>
  毎日、小さなことでも「生まれて初めて」の体験があるはずです。そんな小さな"初めて"を記録することで、日々の生活を豊かにし、人生を彩りましょう。
</p>

<p>
  私たちが体験する「初めて」の積み重ねは、やがて大きな成長へとつながります。どんなに些細なことでも、きっとあなたの人生の肥やしになるはずです。体は痩せたいけど、人生はいっぱい太らせたいですよね。
</p>

<p>
  さあ、今日からあなたの「生まれて初めてリスト」を始めてみませんか？
</p>

<div>
  <%= link_to '今すぐ始める', signup_path, class: 'btn btn-primary' %>
</div>

